* {
    padding: 0;
    margin: 0;
}

body {
    padding: 53px 25px 21px;
    margin: 0;
    background: #F4F7FA;
    position: relative;
    height: 100vh;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
}

#bot {
    position: fixed;
    bottom: 0;
    left: 0;
}

header {
    width: 340px;
    height: 179.481px;
    background-color: #Fff;
    padding: 25px 27px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}

header > .info-container {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

header > .info-container > .img-background {
    width: 73.76px;
    height: 73.76px;
    background-color: #F4F7FA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .info-container > .img-background > img {
    width: 60px;
    height: 60px;
}

header > .info-container > p {
    font-size: 22px;
    font-weight: 600;
}

header > .button-container {
    width: 282.672px;
    height: 45.326px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 12px;
    background: rgba(178, 254, 255, 0.48);
}

header > .button-container > a {
    color: #02BFFE;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    display: block;
}

header > .button-container > img {
    width: 8.849px;
    height: 15.335px;
}

header > img {
    width: 4.458px;
    height: 17.831px;
    position: absolute;
    top: 26px;
    right: 28px;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

main > .choice-container {
    display: flex;
    column-gap: 14px;
}

main > .choice-container > .select-container {
    display: flex;
    background-color: #fff;
    width: 158.856px;
    height: 92.217px;
    padding: 23px 17px;
    border-radius: 20px;
    justify-content: space-between;
}

main > .choice-container > .select-container > img {
    width: 37px;
    height: 37px;
}

main > .choice-container > .select-container > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    width: 74px;
    color: #AAA;
    padding: 0;
}

main > .choice-container > .select-container > .btn-background {
    width: 36.311px;
    height: 36.311px;
    background-color: #DCFEFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .today-pursue-container {
    width: 340px;
    height: 314.12px;
    border-radius: 20px;
    background-color: #fff;
    padding: 19px 19px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 47.38px;
}

main > .today-pursue-container > .title-container {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main > .today-pursue-container > .title-container > img {
    width: 11.08px;
    height: 19.201px;
}

main > .today-pursue-container > .title-container > p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

main > .today-pursue-container > img {
    margin-top: 23px;
    width: 158.203px;
    height: 158.203px;
}

main > .today-pursue-container > .name-item {
    margin-top: 16.5px;
    width: 99px;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    background-color: #65E9FF;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
