.nav {
    background-color: white;
    border-top: 1px solid var(--Gray-gray-100, #E8E8E9);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;  
    bottom: 0;
    width: 100%;
    left: 0;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    text-align: center;
    padding: 0 30px;
}

.icon-container > .icon-img {
    width: 24px !important;
    height: 24px !important;
}

.icon-container > p {
    color: var(--Gray-02, #AAA);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 4px;
}

a{
    text-decoration: none;
}
