* {
    padding: 0;
    margin: 0;
}

body {
    padding: 53px 25px 34px;
    margin: 0;
    background: #fff    ;
}

header {
    display: flex;
    align-items: center;
    height: 55px;
    column-gap: 22px;
}

header > img {
    width: 11px;
    height: 19px;
}

header > .search-container {
    display: flex;
    align-items: center;
    padding: 15px 17px;
    border-radius: 16px;
    background-color: rgba(235, 240, 247, 0.50);
    width: 305px;
    height: 55px;
    column-gap: 15px;
}

header > .search-container > img {
    width: 22px;
    height: 22px;
}

header > .search-container > input {
    background-color: transparent;
    border: 0;
    outline: 0;
}

header > .search-container > input::placeholder {
    color: #D1D2D1;
    font-size: 16px;
    font-weight: 500;
}