* {
    padding: 0;
    margin: 0;
}

body {
    padding: 53px 25px 21px;
    margin: 0;
    background: #F4F7FA;
    position: relative;
    height: 100vh;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
}

#bot {
    position: fixed;
    bottom: 0;
    left: 0;
}

.text {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
.explain-container p:nth-child(2){
    margin-top: 6px;
}
.explain-container p:nth-child(3) {
    color: var(--Gray-02, #AAA);
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
.emoji-container{
    display: flex;
    justify-content: center;
    margin: 31px 0 104px 0;
}
.emoji-container img{
    width: 172.562px;
height: 172.562px;
}

.choose-feeling-container {
    gap: 9px;
}

.choose-feeling-container button {
    width: 106.272px;
    height: 118.435px;
    border-radius: 16px;
    background: #F4F7FA;
    border: none;
    /* padding-top: 15px; */
    text-align: center;
    color: var(--Gray-02, #AAA);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
