* {
    padding: 0;
    margin: 0;
}

body {
    padding: 53px 25px 21px;
    margin: 0;
    background: #18191D;
    position: relative;
    height: 100vh;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
}

#bot {
    position: fixed;
    bottom: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {

    width: 136.47px;
    height: 32.598px;
}

header>img {
    height: 30px;
    width: 30px;
}

header>img {
    width: 18px;
    height: 19.384px;
    color: #D1D2D1;
}

main>.search-container {
    margin-top: 14px;
    display: flex;
    align-items: center;
    background: #25282D;
    column-gap: 15px;
    padding: 15px 17px;
    border-radius: 16px;
     
}

main>.search-container>img {
    height: 22px;
    width: 22px;
}

main>.search-container>input {
    border: 0;
    /* margin-top: 3px; */
    outline: 0;
    background: #25282D;
    color: var(--Gray-01, #D1D2D1);
    font-size: 16px;
}

main>.search-container>input::placeholder {
    display: flex;
    align-items: center;
}

main>.personal-pursue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 300px;
    background: #25282D;
    border-radius: 20px;
    margin-top: 27.4px;
    padding: 17px 19px;
    row-gap: 10px;
}

main>.personal-pursue-container>.personal-pursue-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main>.personal-pursue-container>.personal-pursue-title-container>p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

main>.personal-pursue-container>.personal-pursue-title-container>img {
    width: 22px;
    height: 22px;
}

main>.personal-pursue-container>img {
    width: 170px;
}

main>.personal-pursue-container>button {
    width: 271px;
    height: 43px;

    border-radius: 12px;
    background-color: #65E9FF;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: white;
}


.nav a:nth-child(1) .icon-container p {
    color: var(--darkBlue, #02BFFE);
}

.go-to-test {
    display: flex;
    width: 340px;
    height: 68.797px;
    border-radius: 20px;
    background: #25282D;
    padding: 21.9px 0 21.9px 28.46px;
    margin: 11.9px 0 26.2px 0;
    align-items: center;
}

.go-to-test p {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.suggest-container {
    display: flex;
    gap: 6px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

.go-to-test img {
    width: 8.849px;
    height: 15.335px;
    margin-left: 100px;
}

.suggest-container {
    display: flex;
}

.suggest-container>img {
    width: 15px;
    height: 15px;
}

.info-container {
    display: flex;
    width: 340px;
    padding: 18px 26px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 20px;
    background: #25282D;
    color: white;
}

.suggest-all-container {
    display: flex;
}

.title {
    font-size: 15px;
    margin-top: 3px;
}

.sub-title {
    color: var(--Gray-02, #AAA);
    text-align: center;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    row-gap: 3px;
}

/* img 조절 */
.sun {
    width: 19.01px;
    height: 19.01px;
}

.person {
    width: 43.354px;
    height: 43.354px;
}